<div class="bs-docs-section">
  <div class="row">
    <div class="col-md-12">

      <div class="page-header">          
        <h1>Projects</h1>
      </div>

      <div class="col-md-3" id="leftCol">
        <div class="well">    
          
        </div>
      </div>     

      <div class="col-md-9" id="rightCol"> 
        <div class="well"> 

          <p><strong>wie verlinkt man direkt auf "new" und dass Projekt schon mit entsprechender Wert ausgefüllt ist??? :(  --> Ziel: klick auf Projekt und kann direkt Ideen eingeben</strong></p> </br>
          <div class="table-responsive table-scrollable">
            <%= render 'todoproject' %>
          </div>
          <%= link_to 'Insert some Idea', new_idea_path, class: "btn btn-primary" %>
        </div>
      </div>

    </div>
  </div>
</div>



