  <div class="col-md-6">
    <div class="panel panel-info">
      <div class="panel-body">


            <%= f.link_to_remove "Remove fields.", class: "btn btn-danger btn-sm" %>

          <div class="field">
            <%= f.label :suggestion %><br>
            <%= f.text_field :suggestion, class: "form-control" %>
          </div>
      </div> 
    </div> 
  </div> 