      <div class="col-md-9 col-md-offset-3"> 
        <div class="well"> 
        	<% @useridea.each do |idea| %>
          <div class="panel panel-info">
            <div class="panel-body">      				
      				<p>        
        				<%= idea.post %>
      				</p>     					 
     				</div>
     			</div>
     			<% end %> 
     		</div>
     	</div>  